$button-color: #0d84ec;
$second-color: #000000c5;
$text-color: white;


* {
  margin: 0;
  padding: 0;
}

@mixin button-common {
  border-radius: 10%;
  font-size: 25px;
}

@mixin grid-property-of-button {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  margin: 5%;
  gap: 5%;
}

@mixin common {
  background-color: $button-color;
  color: $second-color;
  text-align: center;
  font-size: 25px;
}

body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    flex: 1;

    .detail {
      font-weight: bolder;
      font-size: 20px;
      font-style: oblique;
      position: absolute;
      top: 15%;
    }

    .calculator {
      margin: 5%;
      padding: 1%;
      background-color: $second-color;
      border: 3px solid #{$second-color};
      border-radius: 10%;
      height: auto;

      .calculator-text {
        font-size: 25px;
        font-weight: bold;
        color: $text-color;
        text-align: center;
        font-style: italic;
      }

      .display {
        padding: 5%;
        height: 60%;

        input {
          width: 70%;
          border: 2px solid rgb(227, 228, 222);
          text-align: right;
          font-size: 15px;
        }

        // button {
        //   @include button-common;
        //   font-size: 15px;
        //   width: 23%;
        //   color: $second-color;
        //   $button-color: rgb(179, 212, 57);
        //   background-color: $button-color;
        //   border: 1px solid rgb(19, 20, 15);
        // }
        // button:hover {
        //   color: rgb(244, 241, 241);
        // }
        // button:active {
        //   background-color: $button-color;
        // }
      }
    }

    .button {
      .row-one,
      .row-two,
      .row-three,
      .row-four {
        @include grid-property-of-button;
      }

      button {
        @include button-common;
        color: $text-color;
        background-color: $button-color;
        border: 1px solid rgb(233, 218, 218);
        border-radius: 25%;
      }
      .button-equal {
        $button-color: rgb(179, 212, 57);
        background-color: $button-color;
      }

      button:hover {
        color: rgb(19, 3, 3);
      }
      button:active {
        background-color: yellow;
      }
    }
  }

 

  header {
    @include common;
    position: absolute;
    top: 0;
    width: 100%;
  }
  footer {
    @include common;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
